{% extends "base.html" %}

{% block title %}{{ headline }}{% endblock %}

{% block content %}
    <div id="reload">
      <a href="window.location.reload()" onClick="window.location.reload()"></a>
    </div>

    <div class="output">
      <h2>{{ intro }}:</h2><br>
      <h1>{{ adjective }} {{ subject }}</h1><br>
      <h1>{{ action }}</h1>
    </div>

    <div id="social">
        <a href="https://twitter.com/schlagzeilenbot" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @schlagzeilenbot</a>
        <a href="https://twitter.com/share" class="twitter-share-button"
            data-text="{{ headline }}"
            data-via="schlagzeilenbot"
            data-related="dbrgn:Developer,ouhjasolaessig:Developer"
            data-lang="de"
            data-url="{{ app_url }}"
            data-dnt="true">Tweet this</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div id="logo">
      <p>schlagzeilengenerator</p>
    </div>   
    <div id="copy">
        <p>Seite aktualisieren für neue Schlagzeile</p>
        <p>Project by <a href="https://twitter.com/dbrgn">@dbrgn</a> and <a href="https://twitter.com/ouhjasolaessig">@ouhjasolaessig</a>. Source on <a href="https://github.com/gwrtheyrn/schlagzeilengenerator/">Github</a>.</p>
    </div>
{% endblock %}
