<!doctype html>
<html lang="de">
    <head>
        <title>Schlagzeilen-Generator - Boulevardpresse automatisiert!</title>
        <meta name="description" content="Generiere dir so viele Boulevard-Schlagzeilen wie du möchtest!" />
        <meta name="keywords" content="schlagzeilen, boulevardpresse, generator, humor" />
        <meta charset="utf-8" />

        <link href="//fonts.googleapis.com/css?family=Ruda:900,400,700&subset=latin-ext,latin" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <!--[if lte IE 7]>
        <link rel="stylesheet" href="{{ url_for('static', filename='ie.css') }}" type="text/css">
        <![endif]-->

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1033934-11']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div id="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
